<div class="repo">
  {{#if available}}
  <iframe src="http://ghbtns.com/github-btn.html?user=spark&repo={{title}}&type=watch"
  allowtransparency="true" frameborder="0" scrolling="0" width="52" height="20"></iframe>
  <a href="https://github.com/particle-iot/{{title}}/">
    <h5>{{title}}</h5>
  </a>
  {{else}}
  <h5>{{title}}</h5>
  {{/if}}

  <span>{{description}}</span>
  {{#if available}}
  <a class="btn btn-default btn-block" href="https://github.com/particle-iot/{{title}}/issues">Issues</a>
  {{/if}}
</div>